VITE_SUPABASE_URL=https://qduoumkivuaxnttwedgm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkdW91bWtpdnVheG50dHdlZGdtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3NDE0MDIsImV4cCI6MjA5MTMxNzQwMn0.GJ8gwJlXGlT5fm67rSbzEJR_KibXYw2sYMKRuHWzaEU